<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some Error has occured</h1>
    <p>Working on a fix, apologies for any inconvenience</p>

<%- include('includes/end.ejs') %>